@import './images.less';

@import './home.less';
@import '../app/element/element.less';
@import '../app/elements/elements.less';
@import '../app/login/login.less';
@import '../app/type/type.less';
@import '../app/type/select/el-type-select.less';
@import '../app/settings/settings.less';
@import '../app/home/home.less';

//Unleash the beast
///@import ( inline ) './evil.css';

[ng-click], [href] {
  cursor: pointer;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.simpleFade ( @backgroundColor: @activeColor, @fontColor: 'white' ) {
  cursor: pointer;

  .hardwareAccel();
  .improveAntiAlias();
  .fontSmooth();

  overflow: hidden;

  .prefixed(transition-duration, @fastDuration);
  .prefixed(transition-property, ~"color, background-color");

  &:hover {
    background-color: @backgroundColor;
    color: @fontColor;
  }
}

#back-wrapper {
  width: 48px;
  height: 48px;
  #back {
    width: 48px;
    height: 48px;
    background: url( "../assets/back.png" ) center center no-repeat;
    background-size: 24px 24px;
  }
}